
<h1>Welcome to our Book Club!</h1>
<p>
  Here we post the interesting books that we found and give our opinions about those books.
  If you found an exciting read and would like to share it with others please feel free to join our club!
</p>
<p>
  It is free of charge and very useful when you are busy and want to follow the latest trends.
</p>

<%= link_to 'Discover Books', books_path %>
