<% if !user_signed_in? %>
    <div class="jumbotron">
      <h3>Be Nice, Share With Others Your Best Books To Read</h3>
      <p>We are sure you have some nice books to share with others!</p>
      <p><%= link_to "Sign Up To Write A Review Of Your Favorite Books", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
<% end %>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <% if book.image %>
              <%= link_to (image_tag book.image.url(:medium), class: 'image'), book %>
            <% else %>
              <%= link_to (image_tag "default.jpeg", class: 'image'), book %>
            <% end %>
            <br>

            <% if @rating = Rate.where(rateable_id: book.id) %>
                <% @sum = 0 %>
                <% @rating.each do |rate| %>
                  <% @sum += rate.stars_num %>
                <% end %>
                <% @final_rating = @sum/@rating.length %>
                <% @final_rating.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% @remaining_stars = 5 - @final_rating %>
                <% @remaining_stars.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
