<% if !user_signed_in? %>
    <div class="jumbotron">
      <h3>Be Nice, Share With Others Your Best Books To Read</h3>
      <p>We are sure you have some nice books to share with others!</p>
      <p><%= link_to "Sign Up To Write A Review Of Your Favorite Books", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
<% end %>

<div class="row">
  <% @books.each do |book| %>
      <div class="col-sm-6 col-md-3"></div>
        <div class="thumbnail">
          <%= link_to (image_tag book.image.url(:medium), class: 'image'), book %>
        </div>
      </div>
  <% end %>
</div>
