<% @review_user = User.find(review.user_id) %>
<strong><p><%= @review_user.username %> said:</p></strong>
<p><%= review.content %></p>

<% if current_user && current_user.role == "admin" || current_user && current_user.id == @review_user.id %>
  <%= link_to 'Edit Review', edit_book_review_path(@book, review) %>
  <br>
  <%= link_to 'Delete Review', [@book, review], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
